# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
website/dist
website/tmp
website/out-tsc
# Only exists if Bazel was run
website/bazel-out

# dependencies
website/node_modules
server/node_modules

# profiling files
website/chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
website/.angular/cache
website/.sass-cache
website/connect.lock
website/coverage
website/libpeerconnection.log
website/npm-debug.log
website/yarn-error.log
website/testem.log
website/typings

# System Files
.DS_Store
Thumbs.db
