.container{
    display: grid;
    grid-template-rows: 70px 1fr;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    background: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    .body{
        height: calc(100vh - 70px);
    }
}

.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}