<p-toast></p-toast>
<div class="container">
    <div class="wrapper">
        <div class="header">
            <div class="label">
                Shop Creator
            </div>
            <div class="publish">
                <button pButton type="button" label="Publish" (click)="publish()" ></button>
            </div>
            <div class="url"> {{url}}</div>
        </div>
        <div>

        </div>
        <div class="inputFields">
            <!-- 
              "productName"
              "productPrice"
              "productImage"
              "sellerName"
	          "SellerWallet"
              "Support Link"
	          "affiliatePercent"
             -->
             <span class="p-float-label">
                <input id="productName" type="text"   [(ngModel)]="productName"  pInputText> 
                <label for="productName">Product Name</label>
            </span>
            <span class="p-float-label">
                <input id="productPrice" type="number" [(ngModel)]="productPrice" min="1" pInputText>
                <label for="productPrice">Product Price (in USD)</label>
            </span>
            <span class="p-float-label">
                <input id="productImage" type="text"  [(ngModel)]="productImage"  pInputText> 
                <label for="productImage">Product Image URL</label>
            </span>
            <span class="p-float-label">
                <input id="productUrl" type="text"  [(ngModel)]="productUrl"  pInputText> 
                <label for="productUrl">Product URL</label>
            </span>
            <span class="p-float-label">
                <input id="sellerName" type="text"  [(ngModel)]="sellerName"  pInputText> 
                <label for="sellerName">Seller Name</label>
            </span>
            <span class="p-float-label">
                <input id="rapydWallet" type="text"  [(ngModel)]="rapydWallet"  pInputText> 
                <label for="rapydWallet">Rapyd Wallet Address</label>
            </span>
            <span class="p-float-label">
                <input id="supportLink" type="text" [(ngModel)]="supportLink"  pInputText> 
                <label for="supportLink">Support Link</label>
            </span>
            <span class="p-float-label">
                <input id="affiliatePercent" type="number"  [(ngModel)]="affiliatePercent" min="1" max="99" pInputText>
                <label for="affiliatePercent">Affiliate Percent</label>
            </span>
        </div>
    </div>
</div>